@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
.queOfrecemos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5em;
}

#amaras {
  color: #0045d0;
}

@media (max-width: 768px) {
  .queOfrecemos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .queOfrecemos {
    grid-template-columns: 1fr;
  }
}
