@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-blue-color: #001745;
    --bg-lightblue-color: #002774;
    --font-white-color: #F4F4F4;
    --orange: #fea900;
}

#div-top {
    background-color: var(--bg-blue-color);
    background-image: url(../../Resources/images/circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 4em;
    display: grid;
    align-items: center;
}

#logo {
    padding-right: 10vw;
    display: grid;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
}

#header-text {
    padding: 0% 20%;
}


@media screen and (max-width: 767px) {

    /* Estilos para dispositivos móviles, como celulares */
    #div-top {
        font-size: 2em;
        line-height: 140%;
    }

    #header-text {
        padding: 0% 10%;
    }

    #logo {
        padding: 0v;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Estilos para tablets */
    #div-top {
        font-size: 3em;
        line-height: 120%;
    }

    #header-text {
        padding: 0% 15%;
    }
}

@media screen and (min-width: 992px) {
    /* Estilos para pantallas grandes, como computadoras */
    /* Coloca aquí tus estilos específicos para pantallas grandes */
}